.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  body {
      color:whitesmoke;
      background-image: url("assets/images/bg.jpg");
    background-color: #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

  .face {
    max-width: 300px;
  }

  .textstuff {
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-left-color: brown;
    border-right-color: brown;
    border-bottom-color: brown;
    padding-bottom: 30px;
  }

  .cardfix {
    color: black;
  }

  #portsection {
    justify-content: center;
    justify-content: space-around;
  }

  .footcenter{
    text-align: center;
  }

  .contactstuff {
    text-align: center;
    border: brown;
    border-style: solid;
    padding: 20px;
    background-color: #cccccc;
  }

  #quickfix{
    padding-top: 50px;
  }