.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  body {
      color:whitesmoke;
      background-image: url("assets/images/bg.jpg");
    background-color: #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }
  .textstuff {
    text-align: center;
    padding-bottom: 30px;
  }

  #portsection {
    justify-content: center;
    justify-content: space-around;
  }

  .footcenter {
    text-align: center;
  }

  .contactstuff {
    padding: 20px;
    background-color: #cccccc;
  }

  #quickfix {
    padding-top: 50px;
  }

  .thickbar {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: xx-large;
  }

  .fontboost {
    font-size: large;
  }

  .nocenter {
    text-align: left;
  }

  .facepad {
    padding-bottom: 20px;
  }

  .toppad {
    padding-top: 40px;
  }

  .navbar-coloring {
    background-color: #800000;
    background-image: none;
    background-repeat: no-repeat;
   }
  
   .secret-pad {
     color: #343a40;
   }
  
   .easteregg {
     color: #800000;
   }

   .thicksides {
padding-left: 30px;
padding-right: 30px;
   }

   .portpad {
padding-top: 20px;
padding-bottom: 20px;
   }

   .contborder {
     border-color: #007bff;
     border-style: solid;
     border-width: 1px;
   }